/* header */
@media (max-width: 900px) {
  .nav_header {
    display: none;
  }
  .menu_btn {
    display: block;
  }
}
@media (max-width: 400px) {
  .container_header {
    padding: 0px 10px;
  }
  .logo_header_name {
    font-size: 17px;
    font-weight: 500;
  }
}

/* container_start */
@media (max-width: 1100px) {
  .container_start {
    background-image: url('./img/photo/woman_right.jpg');
  }
  .title_start {
    width: 700px;
    padding-left: 40px;
    font-size: 28px;
  }
}
@media (max-width: 750px) {
  .container_start {
    background-image: url('./img/photo/woman_header_mobile.jpg');
  }
  .title_start {
    width: 550px;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 40px;
  }
  .sub_title_start {
    padding-top: 150px;
    padding-left: 50px;
    font-size: 24px;
  }
}
@media (max-width: 670px) {
  .title_start {
    width: 450px;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 35px;
  }
  .sub_title_start {
    padding-top: 150px;
    padding-left: 20px;
    font-size: 19px;
  }
}
@media (max-width: 570px) {
  .container_start {
    background-image: url('./img/photo/woman_mobile.jpg');
  }
  .title_start {
    width: 350px;
    padding-top: 60px;
    padding-left: 20px;
    font-size: 27px;
  }
  .sub_title_start {
    width: 300px;
    padding-top: 160px;
    padding-left: 20px;
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  .container_start {
    height: 300px;
  }
  .title_start {
    width: 350px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 25px;
  }
  .sub_title_start {
    width: 300px;
    padding-top: 120px;
    padding-left: 20px;
    font-size: 20px;
  }
}
@media (max-width: 470px) {
  .container_start {
    height: 320px;
  }
  .title_start {
    width: 300px;
    padding-top: 50px;
    font-size: 22px;
  }
  .sub_title_start {
    width: 300px;
    font-size: 17px;
  }
}
@media (max-width: 390px) {
  .container_start {
    height: 280px;
  }
  .title_start {
    width: 270px;
    padding-top: 50px;
    font-size: 20px;
  }
  .sub_title_start {
    width: 200px;
    padding-top: 100px;
    font-size: 17px;
  }
}

/* container_OGE */

@media (max-width: 530px) {
  .container_OGE {
    margin: 0 10px;
  }
  .container_card_OGE {
    padding: 10px;
  }
  .card_OGE {
    width: 100%;
    max-width: 400px;
    margin:10px 0px;
  }
}

/* container_program */
@media (max-width: 1050px) {
  .container_eg {
    width: 45%;
  }
}
@media (max-width: 850px)  {
  .container_program {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    background-image: url('./img/photo/girl1000.jpg');
  }
  .container_eg {
    width: 55%;
  }
}
@media (max-width: 680px)  {
  .container_program {
    height: 400px;
    background-image: url('./img/photo/girl500.jpg');
  }
  .container_eg {
    width: 60%;
  }
}
@media (max-width: 620px)  {
  .container_program {
    height: 400px;
    background-image: url('./img/photo/girl500.jpg');
  }
  .container_eg {
    width: 60%;
  }
  .card_eg {
    width: 300px;
  }
  .eg_img {
    width: 80px;
    height: 80px;
  }
  .text_front_eg {
    font-size: 11px;
  }
}
@media (max-width: 620px)  {
  .container_program {
    height: 300px;
    margin: 0 10px;
  }
  .container_eg {
    width: 60%;
    margin-top: 20px;
  }
  .card_eg {
    width: 300px;
  }
  .eg_img {
    width: 80px;
    height: 80px;
  }
  .text_front_eg {
    font-size: 11px;
  }
}
@media (max-width: 520px)  {
  .container_program {
    height: 300px;
    margin: 0 10px;
    background-image: url('./img/photo/girl_mobile.jpg');
  }
  .container_eg {
    width: 65%;
    margin-top: 20px;
  }
  .card_eg {
    width: 280px;
  }
  .eg_img {
    width: 80px;
    height: 80px;
  }
  .text_front_eg {
    font-size: 10px;
  }
}
@media (max-width: 460px)  {
  .container_program {
    height: 250px;
    background-image: url('./img/photo/girl_mobile.jpg');
  }
  .container_eg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 400px)  {
  .container_program {
    height: 250px;
    margin: 0 10px;
    background-image: url('./img/photo/girl_mobile.jpg');
  }
  .container_eg {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    right: 10px;
  }
  .card_eg {
    width: 260px;
    padding: 5px;
  }
  .eg_img {
    width: 70px;
    height: 80px;
  }
  .text_front_eg {
    font-size: 10px;
  }
  .wrp_card_eg {
    padding-left: 5px;
  }
}

/* container_speaking */ 
@media (max-width: 1030px) {
  .title_speaking {
    font-size: 50px;
    padding: 25px 25px 0;
  }
  
}
@media (max-width: 860px) {
  .title_speaking {
    font-size: 45px;
    padding: 20px 20px 0;
  }
  .card_speaking1 {
    margin: 50px 100px;
  }
  
}
@media (max-width: 740px) {
  .title_speaking {
    font-size: 40px;
    padding: 20px 20px 0;
  }
  .card_speaking1 {
    margin: 50px 50px;
  }
  
}
@media (max-width: 640px) {
  .title_speaking {
    font-size: 35px;
    padding: 10px 10px 0;
  }
  .card_speaking1 {
    width: 200px;
    margin: 50px 50px;
  }
  
}
@media (max-width: 500px) {
  .title_speaking {
    font-size: 30px;
    padding: 10px 10px 0;
  }
  .card_speaking1 {
    width: 250px;
    margin: 30px auto;
  }
  
}
@media (max-width: 470px) {
  
  
}
@media (max-width: 400px) {
  .title_speaking {
    font-size: 28px;
    padding: 10px 10px 0;
  }
  
}

/* speaking2 */
@media (max-width: 800px) {
  .img_bottom {
    background-image: url('./img/photo/bottom800.jpg');
  }
}
@media (max-width: 450px) {
  .container_speaking2 {
    margin: 0 10px;
  }
  .img_bottom {
    width: 100%;
    height: 500px;
    background-image: url('./img/photo/botom450.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50px 50px 20px 20px; 
    border-top: 2px solid white;
  }
  .card_speaking2 {
    width: 100%;
    max-width: 450px;
    height: fit-content;
    padding: 5px;
    margin: 20px 0;
    background-color: #f68690;
    border-radius: 10px;
  }
}

/* free */
@media (max-width: 1090px) {

  .title_free {
    font-size: 26px;
  }
  
  .container_card_free {
   padding: 20px;
  }
  
  .card_free {
   width: 100%;
   max-width: 200px;
  }
  
  .free_link {
    font-size: 17px;
  }
}
@media (max-width: 845px) {

  .title_free {
    font-size: 22px;
  }
  
  .container_card_free {
   padding: 10px;
  }
}
@media (max-width: 720px) {

  .title_free {
    width: 100%;
    font-size: 22px;
    padding-left: 100px;
    padding-right: 20px;
  }
  
  .container_card_free {
   padding: 5px;
  }

}
@media (max-width: 590px) {

  .title_free {
    width: 100%;
    font-size: 22px;
    padding-left: 100px;
    padding-right: 25px;
  }
  
  .container_card_free {
   padding: 5px;
  }
  
  .card_free {
   width: 100%;
   max-width: 200px;
  }
  
  .free_link {
    font-size: 16px;
  }
}
@media (max-width: 490px) {

  .title_free {
    width: 100%;
    font-size: 22px;
    padding-left: 100px;
    padding-right: 25px;
  }
  
  .card_free {
   width: 100%;
   max-width: 170px;
  }
  
  .free_link {
    width: 90%;
    font-size: 16px;
  }
}
@media (max-width: 490px) {

  .title_free {
    width: 100%;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 25px;
  }
  
  .card_free {
   width: 100%;
   max-width: 150px;
  }
  .container_card_free {
    padding: 5px;
  }
  .container_free {
    margin: 0 10px;
  }
}
@media (max-width: 390px) {

  .title_free {
    width: 100%;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 25px;
  }
  
  .card_free {
   width: 100%;
   max-width: 150px;
  }
  
  .free_link {
    width: 90%;
    font-size: 16px;
  }
}
@media (max-width: 370px) {

  .title_free {
    width: 100%;
    font-size: 17px;
    padding-left: 50px;
    padding-right: 10px;
  }
  
  .card_free {
   max-width: 280px;
  }
}

/* telegram */
@media (max-width: 870px) {
 
  .telegram_title{
    padding-right: 50px;
    font-size: 25px;
  }
 
}
@media (max-width: 770px) {
 
  .telegram_title{
    padding-right: 20px;
    font-size: 25px;
  }
  .container_card_telegram {
    padding: 10px;
    margin-bottom: 250px ;
  }
  .card_ftelegram {
    min-width: 280px;
    margin: 15px;
  }
}
@media (max-width: 770px) {
 
  .telegram_title{
    padding-left: 120px;
    font-size: 25px;
  }
  .container_card_telegram {
    padding: 10px;
    margin-bottom: 250px ;
  }
  .card_ftelegram {
    min-width: 280px;
    width: 90%;
    margin: 15px;
  }
}
@media (max-width: 650px) {
  .container_telegram {
    background-image: url('./img/photo/bg4.jpg');
    margin: 0 10px; 
  }
  .telegram_title{
    padding-left: 30px;
    font-size: 22px;
  }
  .container_card_telegram {
    padding: 10px;
    margin-bottom: 350px ;
  }
  
}
@media (max-width: 470px) {
  .telegram_title{
    padding-left: 10px;
    font-size: 20px;
  }
  .container_card_telegram {
    padding: 5px;
    margin-bottom: 350px ;
  } 
}
@media (max-width: 360px) {
  .telegram_title{
    padding-left: 10px;
    font-size: 18px;
  }
  .container_card_telegram {
    padding: 5px;
    margin-bottom: 350px ;
  } 
  .telegram_card_title {
    font-size: 25px; 
  }
  .card_ftelegram {
    width: 100%;
    min-width: 250px;
  }
}

/* web */
@media (max-width: 910px) {
  .web_title{
    font-size: 25px;
  }
}
@media (max-width: 780px) {
  .web_title{
    padding-left: 150px;
    font-size: 25px;
  }
}
@media (max-width: 590px) {
  .web_title{
    padding-left: 100px;
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .web_title{
    padding: 20px;
    font-size: 25px;
  }
}

/* pop_up_OGE */ 
@media (max-width: 560px) {
  .card_pop_up_OGE {
    padding: 20px 10px 20px;
  }
  .title_description_pop_up {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
  }
  .sub_title_pop_up {
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0 20px;
  }
}
/* footer */
@media (max-width: 560px) {
  .link_footer_img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
  }
}
